<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wasp.chaser.imageMapper">

	<insert id="insert">
		INSERT INTO tb_image
			(img_nm,
			img_xy,
			origin_img_src,
			origin_imgs,
			episode_idx)
		VALUES
			(#{img_nm},
			#{img_xy},
			#{origin_img_src},
			#{origin_imgs},
			#{episode_idx})
	</insert>
	
	<select id="afterListAll" resultType="com.wasp.chaser.domain.ImageDTO">
		<![CDATA[
			SELECT * FROM tb_image 
			WHERE episode_idx = #{episode_idx} AND img_src IS NOT NULL
		]]>
	</select>
	
	<select id="beforeListAll" resultType="com.wasp.chaser.domain.ImageDTO">
		<![CDATA[
			SELECT img_idx, img_xy, img_nm, origin_img_src, origin_imgs 
			FROM tb_image 
			WHERE episode_idx = #{episode_idx} AND img_src IS NULL
		]]>
	</select>
	
	<select id="resultListAll" resultType="com.wasp.chaser.domain.ImageDTO">
		select img_idx, img_nm, img_xy from tb_image where episode_idx = #{episode_idx}
		order by img_idx ASC
	</select>
	
	<update id="update">
		UPDATE tb_image
		SET	img_src = #{img_src}, img_length = #{img_length}, img_time = #{img_time}
		WHERE img_idx = #{img_idx}
	</update>
	
	
	<delete id="delete">
		DELETE FROM tb_image
		WHERE img_idx = #{img_idx}
	</delete>

</mapper>